body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}
#body-header{
    position: relative;
}
#body-header img{
    height: 100vh;
    width: 100%;
    opacity: 80%;
    margin-top: 1%;
}
#homename{
    position: absolute;
    padding: 30px;
    height: 15vw;
    width: 35%;
    top: 40%;
    left: -2%;
    margin: auto;
    background: linear-gradient(30deg,#42E695,#3BB2B8);
    border-radius: 30px;
}
#homename p{
    color: white;
    text-align: center;
    font-size: 5vw;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
}
#nav-bar img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: #ff5ea2 ;
}

@media only screen and (max-width:769px){
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2,#ff575a);
        position: absolute;
        top: 3px;
        right: 0;
        z-index: 2;
        
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 12px;
        
    }
    nav ul li a{
        color: #fff;


    }
    #nav-bar img{
        display: block;
        
    }
    #nav-list{
        overflow: hidden;
        transition: 0.5s;
    }
    #homename{
        height: 6vw;
    }
    
    
}
footer{
    padding: 40px 0;
    background-color:#4b4c4d ;
}
.social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.social a{
    font-size: 24 px;
    color: inherit;
    border: 1px solid #ccc;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    padding-top: 3px;
    margin: o 8px;
    opacity: 0.75;
    
}
.social a:hover{
    opacity: 0.9;

}
footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

}
footer ul a{
    color:inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}
footer ul li a:hover{
    opacity: 1;
}
footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
section{
    height: 75vh;
    width: 100%;
    display: flex;

}
#about{
    height: 40vw;
    position: relative;
    background: linear-gradient( #2b5876 ,#4e4376);
}
#bio-text{
    position: absolute;
    padding: 5px;
    height: 80%;
    width: 60%;
    top: 15%;
    bottom: 0;
    margin-left: 10%;
    color: white;
    text-align: center;
    
}
#my-pic{
    position: absolute;
    height: 84%;
    width: 20%;
    top: 10%;
    bottom: 0;
    margin: auto;
    margin-left: 74%;
    background-image: url("mypic.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: #d7d2cc;
}
#responsive{
    text-align: justify;
    font-size: 2.7vw;
}

.logo{
    position: absolute;
    height: 10%;
    width: 20%;
    left: 0;
    right: 0;
    top: 2%;
    margin: auto;
    background-image: url("aboutme.jpg");
    background-size:cover ;
    background-position: center;
}
#contact{
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    background: linear-gradient( #bdc3c7 , #2c3e50);
    
}
#details{
    position: absolute;
    height: 35vw;
    width: 40%;
    margin: auto;
    left: 15%;
    top: 10%;
    bottom: 10%;
    background: linear-gradient( #4ca1af , #c4e0e5);
}
#details i{
    margin-right: 10px;
}
#contact-us{
    position: absolute;
    margin-top: 4%;
    height: 60%;
    width: 40%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    background-color: white;
    
}
#form{
    position: absolute;
    bottom: 12%;
    left: 5%;

}
#para{
    position: absolute;
    padding: 5px;
    font-size: 1.3vw;
    text-align: justify;
    margin-top: 13%;

}
.div-heading{
    position: absolute;
    font-size: 3vw;
    left: 28%;
    margin: auto;
    margin-top: 5%;
}
#list{
    position: absolute;
    font-size: 1.5vw;
    margin-top: 19%;
    margin-left: 5%;
    padding: 3vw;
}
#div-heading{
    position: absolute;
    font-size: 3vw;
    left: 20%;
}
.topinput{
    width: 8vw;
}
#message{
    width: 20vw;
    margin-top: 15px;
}
#Blog{
    position: relative;
    height: 90vh;
    display: flex;
    background: linear-gradient( #bdc3c7 , #2c3e50);
}
#photo{
    position: absolute;
    font-size: 40px;
    margin-left: 37%;
    margin-top: 2%;
    height: 19%;
    width: 20.5vw;
    background-image: url("blog.jpeg");
    background-size: cover;
    background-position: center;
}

#blog-making{
    height: 70%;
    width: 70%;
    margin-top: 10%;
    margin: auto;
}
#makeblog{
    position: absolute;
    margin: auto;
    margin-top: 5%;
    height: 55%;
    width: 65%;
}
#btn1{
    position: absolute;
    height: 8%;
    width: 15%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5%;
    background: linear-gradient(#d2af7700,hsl(173, 16%, 89%));
    border-radius: 50%;
}
#Api{
    flex-direction: column;
}
.api-container{
    width: 100%;
    height: 65vh;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.apidivs{
    height: 20%;
    width: 20%;
    border: 5px solid greenyellow;
}
#pageno{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pages{
    height: 80%;
    width: 5%;
    margin-right: 25px;
    border: 5px solid goldenrod;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
}
.pages h1{
    margin-top: 2%;
    color: white;
}
#nightmode{
    position: absolute;
    height: 98%;
    width: 4%;
    top: 0;
    bottom: 0;
    left: 2%;
    margin: auto;
}
#nightmode i{
    margin-top: -2px;
    margin-left: 6px;

}
.baby{
    color: #ffff00e0;
}

